<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="style.css">
    <title>Document</title>
</head>
<body> 
        <ul>
                <li>home</li>
               
                <li><a href=./studentlist>studentlist</a></li>
               
            </ul>
        <form action="./register-send" method="POST"><br/>
            <table><caption><h1>Registration Form</h1></caption>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td> ParentsName:</td>
                    <td><input type="text" name="parentsname"></td>
                </tr>
                <tr>
                    <td> Address:</td>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td>Contact Number:</td>
                    <td><input type="number" name="contactno"></td>
                </tr>
                
            </table>
           
           <input type="submit" id="submit" name="sbt-bttn">
        
        </form>
    
</body>
</html>
